body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
}
:root {
  --brand-color: #ffffff;
  --text-color: #212121;
  --button-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
  margin-top: 20px;
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}














.site-nav,
.auth-nav,
.communication,
.list,
.header-page,
.list-button,
.list-image,
.list-do,
.list-team,
.icon-list,
.social-team-list,
.footer-soc-list {
  list-style-type: none;
}



































