.list-do {
    display: flex;
    gap: 30px;
}



.img-image {
    position: relative;
}

.img-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0px;
}
.hero {
    padding-bottom: 94px;
}